.cards-container {
    display: flex;
    flex-wrap: wrap;
    gap: 48px;
    background-color: #f6f6f6;
    border-radius: 12px;
    padding: 40px;
    justify-content: center;
}

@media (max-width: 767.98px) {

    .cards-container {
        padding:0;
        background-color: #fff;
        gap:24px;
        margin-bottom: 30px;
    }
}