.collapse {
    margin-bottom: 30px;

    &__header {
        background-color: #FF6060;
        color: white;
        padding: 10px 20px;
        border-radius: 5px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        cursor: pointer;

        h2 {
            margin: 0;
            font-size: 24px;
            font-weight: 700;
        }
    }

    &__arrow {
        font-style: normal;
        transition: transform 0.3s ease;

        &--open {
            transform: rotate(180deg);
        }
    }

    &__content {
        background-color: #F6F6F6;
        padding: 20px;
        border-radius: 0 0 5px 5px;
        margin-top: 5px;
        animation: slideDown 0.3s ease;
    }
}

@keyframes slideDown {
    from {
        opacity: 0;
        transform: translateY(-10px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@media (max-width: 767.98px) {
    .collapse {
        margin-bottom: 20px;
        &__header {

            padding: 8px 14px;

            img {
                height: 10px;
                width: 18px;
            }

            h2 {
                font-size: 15px;
            }
        }

        &__content {
          font-size: 13px;
        }
    }
}